/* Loading Fonts */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: Lato;
}

/* Body Style */
body {
  display: flex;
  justify-content: center;
  background-color: blue;
  align-items: center;
}

/* Buttons and Links */
button,
a {
  cursor: pointer;
  border: none;
  outline: none;
}

/* Inputs */
input {
  border: none;
  outline: none;
}

.mainHome {
  max-width: 1920px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

nav {
  width: 1205px;
  height: 100px;
  background: #f2f2f2;
  padding: 23px 32px;
}
.first-page {
  width: 1170px;
  background: #f2f2f2;
}
.reklama {
  width: 100%;
  padding: 57px 105px;
}

.reklama-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.top-box {
  display: flex;
  gap: 30px;
}

.top-box h1 {
  width: 450px;
  height: 200px;
  background: rgb(207, 206, 206);
}

.top-box h1:nth-child(2) {
  width: 220px;
  height: 200px;
}

.top-box h1:nth-child(3) {
  width: 220px;
  height: 200px;
}

.bottom-box {
  display: flex;
}

.bottom-box h1 {
  width: 470px;
  margin-right: 30px;
  height: 200px;
  opacity: 1.1;
  background: rgb(202, 201, 201);
}

.first-card {
  width: 100%;
}

.card-links {
  width: 100%;
  padding: 42px 110px;
  display: flex;
  gap: 47px;
}

.card-links button {
  width: 80px;
  height: 29px;
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
  letter-spacing: 0%;
  text-align: left;
  border: none;
  transition: all ease 0.2s;
}

.card-links button:hover {
  transform: translateY(-2px);
  color: rgb(164, 172, 173);
  border-bottom: 2px solid rgb(164, 172, 173);
}

.card-links button:nth-child(2) {
  width: 115px;
  height: 29px;
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
  letter-spacing: 0%;
  text-align: left;
  border: none;
}

.card-links button:hover:nth-child(2) {
  transform: translateY(-2px);
  color: rgb(164, 172, 173);
  text-decoration-line: underline;
}

.card-box {
  position: relative;
  width: 100%;
  padding: 30px 0 0 110px;
}

.main-karusel {
  width: 952px;
  overflow: hidden;
}

.karusel-box {
  width: 2856px;
  display: flex;
  gap: 30px;
}

.cards {
  width: 297px;
  height: 397px;
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: space-between;
  transition: 0.8s ease;
  padding: 13px 16px;
  background-color: #fff;
}

.cards .img {
  width: 264px;
  height: 181px;
  background: rgb(217, 217, 217);
}

.cards h1 {
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
  letter-spacing: 0%;
  text-align: left;
  letter-spacing: 1px;
}

.cards p {
  color: rgb(164, 172, 173);
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}

.price-basket {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 25px;
  padding: 10px 10px 0px 0px;
  border-top: 1px solid rgb(164, 172, 173);
}

.price-basket span {
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0%;
  text-align: left;
}

.price-basket button {
  border: none;
}

.card-right {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 190px;
  left: 15px;
  border: none;
  border-radius: 50%;
  background: rgb(17, 17, 17);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 30px;
  font-weight: 500;
  transition: all ease 0.2s;
}

.card-right:active {
  transform: translateX(-5px);
  background: #3d3c3c;
}

.card-left {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 190px;
  right: 15px;
  border: none;
  border-radius: 50%;
  background: rgb(17, 17, 17);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 30px;
  font-weight: 500;
  transition: all ease 0.2s;
}

.card-left:active {
  transform: translateX(5px);
  background: #3d3c3c;
}

.sitebar {
  width: 348px;
  display: flex;
  flex-direction: column;
  padding-left: 37px;
  background-color: #fff;
}
.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 9px;
  padding-bottom: 27px;
  border-bottom: 0.5px solid rgb(164, 172, 173);
  margin-top: 59px;
}
.logo > img {
  width: 293px;
  height: 133px;
}
.logo > p {
  color: rgb(0, 0, 0);
  font-size: 30px;
  font-weight: 300;
}
.sitebarLinks {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 31px;
}
.sitebarLinks > button {
  background-color: transparent;
  color: rgb(0, 0, 0);
  font-size: 24px;
  display: flex;
  align-items: center;
  gap: 21px;
  font-weight: 400;
  display: flex;
}
.sitebarLinks > p {
  color: rgb(0, 0, 0);
  font-size: 14px;
  font-weight: 400;
  margin-top: 22px;
}
.header {
  width: 1106px;
  height: 55px;
  display: flex;
  border-radius: 5px;
  border: 2px solid #a4acad;
  display: flex;
  align-items: center;
  justify-content: start;
}

.katalog {
  width: 418px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 0px 14px 26px;
  background: rgb(248, 248, 248);
  border-radius: 5px 5px 5px 5px;
  cursor: pointer;
}
.katalog > img {
  width: 130px;
  height: 200%;
}
.big-carousel {
  height: 473px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.big-carousel > p {
  color: black;
  font-size: 40px;
  font-weight: 300;
}

.katalog h3 {
  color: rgb(0, 0, 0);
  font-size: 22.65px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: capitalize;
  padding-top: 5px;
}

.katalog button {
  width: 60px;
  height: 55px;
  box-sizing: border-box;
  border: 2px solid #a4acad;
  border-radius: 0px 5px 5px 0px;
  font-size: 43px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #a4acad;
}

.form-search {
  position: relative;
  width: 421px;
  height: 100%;
  background: white;
  display: flex;
  align-items: center;
  padding-right: 36px;
}

.form-search > input {
  width: 100%;
  height: 90%;
  margin-right: 30px;
  margin-left: 10px;
  border: 1px solid #b4b4b4;
  border-radius: 5px;
  font-size: 18px;
  background-color: red;
  padding-left: 10px;
}

.form-search .search {
  position: absolute;
  left: 220px;
  font-size: 35px;
  color: #b4b4b4;
  cursor: pointer;
  margin-right: 30px;
}

select {
  padding: 10px;
  margin: 0;
  border: 1px solid #ccc;
  border-radius: 3px;
  overflow: hidden;
}

.user {
  width: 161px;
  height: 100%;
  border: 1px solid rgb(203, 207, 207);
  background: rgb(248, 248, 248);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
  font-size: 45px;
  padding: 11px 24px;
  cursor: pointer;
}

.user button {
  width: 100%;
  height: 100%;
  border: none;
  background: none;
  color: rgb(0, 0, 0);
  font-size: 22.65px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: capitalize;
}
/* Wrapper Div */

/* Links Div */
.links {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 47px;
  height: 29px;
  margin: 29px 0;
  margin-left: 30px;
  padding-left: 90px;
}
.links > button {
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-weight: 300;
  background-color: transparent;
}

.slider {
  width: 949px;
  height: 473px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 31px;
  margin-bottom: 57px;
  background-color: #fff;
}

.card-container {
  width: 100vw;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  background-color: red;
  justify-content: center;
  margin-bottom: 57px;
}
/* Card Div */
.card {
  width: 297px;
  height: 397px;
  padding: 13px 16px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: space-between;
}
.card-price {
  width: 100%;
  height: 61px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 26px;
  border-top: 1px solid #a4acad;
}
.card > b {
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 20px;
}
.card > p {
  color: rgb(164, 172, 173);
  font-size: 18px;
  font-weight: 400;
}
.card-price > button {
  background-color: transparent;
}
.card-price > b {
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-weight: 700;
}
.card-image {
  width: 264px;
  height: 181px;
  position: relative;
  background-color: rgb(217, 217, 217);
}
.card-image > img {
  width: 100%;
  height: 100%;
}
.card-image > button {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: transparent;
  width: 29px;
  height: 29px;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Slider Div */

.main-carousel > button {
  width: 60px;
  height: 60px;
  background: rgb(17, 17, 17);
  border-radius: 50%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

/* Text Box */
.textBox {
  display: flex;
  flex-direction: column;
  padding: 0 110px;
  margin: 55px 0;
  gap: 10px;
}
.textBox > b {
  color: rgb(164, 172, 173);
  font-size: 24px;
  font-weight: 700;
}
.textBox > span,
.textBox > ul {
  color: rgb(164, 172, 173);
  font-size: 18px;
  font-weight: 400;
}
.textBox > p {
  height: 109px;
  background: linear-gradient(
    180deg,
    rgba(242, 242, 242, 0),
    rgb(242, 242, 242) 100%
  );
  color: rgb(164, 172, 173);
  font-size: 18px;
  font-weight: 400;
}

/* Text Box Button */
.textBox > button {
  color: rgb(253, 152, 3);
  font-size: 24px;
  font-weight: 400;
  width: 100%;
  height: 24px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
}

/* Basket */
.basket {
  width: 402px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 86px;
  background-color: #fff;
}
.basketPart {
  width: 290px;
  height: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 12px;
  background-color: rgb(242, 242, 242);
}
.basketPart > p {
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-weight: 300;
}
.basketPart > span {
  color: rgb(164, 172, 173);
  font-size: 18px;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 26px;
}
.basketPart > button {
  width: 100%;
  border-radius: 0px 0px 5px 5px;
  background: rgb(255, 152, 70);
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}
.map-container {
  width: 290px;
  height: 223px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-top: 20px;
}
.locate {
  position: absolute;
  width: 60px;
  height: 60px;
  top: 86px;
  left: 115px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  z-index: 1;
  background-color: rgb(253, 152, 3);
  font-size: 50px;
}
.map-container > p {
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-weight: 300;
  margin-top: 38px;
}
.map-container > span {
  color: rgb(164, 172, 173);
  font-size: 18px;
  font-weight: 400;
}

/* Personal Cabinet */
.cabinet {
  width: 1106px;
  height: 731px;
  margin-left: 32px;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.39);
  border-radius: 5px;
  background: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  padding: 34px 24px;
  margin-top: 28px;
  margin-bottom: 1100px;
}
.cabinetText {
  color: rgb(0, 0, 0);
  font-size: 36.65px;
  padding-left: 32px;
  font-weight: 500;
}
.topCabinet {
  width: 100%;
  height: 249px;
  border-bottom: 1px solid rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
}
.topLabels > label {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.topLabels {
  display: flex;
  gap: 51px;
  margin-top: 19px;
}
.topCabinet > p {
  color: rgb(101, 101, 101);
  font-size: 30px;
  font-weight: 500;
}
.topLabels > label > input {
  width: 279px;
  height: 55px;
  box-sizing: border-box;
  border: 1px solid rgb(203, 207, 207);
  background: rgb(248, 248, 248);
  color: rgb(63, 63, 63);
  font-size: 30px;
  font-weight: 500;
  text-align: center;
}
.topLabels > label > p {
  color: rgb(87, 87, 87);
  font-size: 22.65px;
  font-weight: 500;
}
.middleCabinet {
  height: 195px;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 51px;
  border-bottom: 1px solid rgb(0, 0, 0);
}
.middleCabinet > label {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.middleCabinet > label > p {
  color: rgb(87, 87, 87);
  font-size: 22.65px;
  font-weight: 500;
}
.middleCabinet > label > input {
  width: 279px;
  height: 55px;
  box-sizing: border-box;
  border: 1px solid rgb(203, 207, 207);
  background: rgb(248, 248, 248);
  color: rgb(63, 63, 63);
  font-size: 22.65px;
  font-weight: 500;
  text-align: center;
}
.middleCabinet:nth-child(3) {
  border: none !important;
}
.bottomButtons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.bottomButtons > button:nth-child(1) {
  width: 279px;
  height: 55px;
  box-sizing: border-box;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 6px;
  background: rgb(231, 76, 60);
  color: rgb(255, 255, 255);
  font-size: 22.65px;
  font-weight: 500;
}
.bottomButtons > button:nth-child(2) {
  width: 187px;
  height: 55px;
  box-sizing: border-box;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 6px;
  background: rgb(253, 152, 3);
  color: rgb(255, 255, 255);
  font-size: 22.65px;
  font-weight: 500;
}

/* product-box */
.product-box {
  width: 1027px;
  height: 721px;
  border-radius: 20px;
  background: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 43px;
  padding: 83px 0;
}
.leftBox {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.leftBox > img {
  width: 357px;
  height: 477px;
  background: rgb(242, 242, 242);
}
.leftBox > button {
  width: 357px;
  height: 58px;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 6px;
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-size: 22.65px;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rightBox {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}
.rightBox > b {
  color: rgb(0, 0, 0);
  font-size: 36.65px;
  font-weight: 400;
}
.rightBox > p {
  color: rgb(0, 0, 0);
  font-size: 22.65px;
  font-weight: 400;
}
.rightBox > div {
  display: flex;
  align-items: center;
  gap: 13px;
}
.choose > label > input {
  width: 50px;
  height: 48px;
  box-sizing: border-box;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
  background: rgb(255, 255, 255);
}
.choose > label > p {
  color: rgb(0, 0, 0);
  font-size: 22.65px;
  font-weight: 400;
}
.choose > label {
  display: flex;
  align-items: center;
  gap: 10px;
}
.countBox > div {
  width: 170px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  border: 1px solid rgb(118, 118, 118);
  border-radius: 5px;
  padding: 0 9px;
  font-size: 22.65px;
  background-color: #fff;
}
.countBox {
  display: flex;
  align-items: center;
  gap: 12px;
}
.price {
  display: flex;
  align-items: center;
  gap: 18px;
}
.price > p {
  color: rgb(0, 0, 0);
  font-size: 22.65px;
  font-weight: 400;
  letter-spacing: 0%;
}
.price > del {
  color: rgb(126, 126, 126);
  font-size: 22.65px;
  font-weight: 400;
  text-decoration: line-through;
  letter-spacing: 0%;
  text-transform: capitalize;
}
.addCart {
  width: 271px;
  height: 67px;
  box-sizing: border-box;
  border: 1px solid rgb(118, 118, 118);
  border-radius: 9px;
  background: rgb(253, 152, 3);
  color: rgb(0, 0, 0);
  font-size: 22.65px;
  font-weight: 400;
}
.addCart:nth-child(2) {
  border: 2px solid rgb(253, 152, 3);
  background-color: #fff;
}
.countBox > div > button {
  font-size: 20px;
  background-color: transparent;
}
.countBox > p {
  color: rgb(46, 204, 113);
  font-size: 14px;
  font-weight: 400;
}

/* catalog */

.catalog {
  width: 1920px;
  height: 807px;
  box-sizing: border-box;
  border: 1px solid rgb(253, 152, 3);
  border-radius: 5px;
  background: rgb(242, 242, 242);
  display: flex;
  padding: 43.87px 50px;
  position: absolute;
  z-index: 2;
  left: 0;
}
.categories {
  height: 100%;
  width: 348px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.categories > button {
  width: 198px;
  background-color: transparent;
  font-size: 24px;
  font-weight: 400;
}
.variants {
  height: 100%;
  width: 1559px;
  padding-left: 45px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.title {
  width: 100%;
  color: rgb(0, 0, 0);
  font-size: 36.65px;
  font-weight: 400;
}
.options {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 39px;
}

.categoryCard {
  display: flex;
  flex-direction: column;
  gap: 13px;
  width: 309px;
  height: 201px;
}
.categoryCard > p {
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-weight: 400;
}
.categoryCard > button {
  display: flex;
  background-color: transparent;
  color: rgb(149, 149, 149);
  font-size: 20px;
  font-weight: 400;
}

/* product data max */
.product-box-max {
  width: 1170px;
  display: flex;
  flex-direction: column;
  padding: 40px 32px;
  background-color: rgb(242, 242, 242);
}
.head-box {
  display: flex;
  /* align-items: center; */
  gap: 25px;
}
.left-head {
  width: 492px;
  height: 469px;
  background-color: #fff;
  align-items: center;
  display: flex;
  justify-content: center;
}
.left-head > img {
  width: 100%;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.39);
  border-radius: 5px;
  background: rgb(255, 255, 255);
}
.middle-head {
  display: flex;
  flex-direction: column;
  gap: 21px;
}
.middle-head > img {
  width: 150px;
  height: 142px;
  border: 1px solid rgba(0, 0, 0, 0.39);
  border-radius: 5px;
  background: rgb(255, 255, 255);
}
.right-head {
  display: flex;
  flex-direction: column;
}
.right-head > h6 {
  color: rgb(0, 0, 0);
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 5px;
}
.right-head > b {
  color: rgb(0, 0, 0);
  font-size: 36.65px;
  font-weight: 400;
  margin-bottom: 9px;
}
.right-head > p {
  color: rgb(0, 0, 0);
  font-size: 22.65px;
  font-weight: 400;
}
.right-head-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 21.5px;
}
.line {
  width: 367px;
  height: 1px;
  background-color: rgb(79, 79, 79);
  margin-bottom: 14.5px;
}
.product-form {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.product-form > label {
  display: flex;
  align-items: center;
  gap: 13px;
}
.product-form > p {
  color: rgb(0, 0, 0);
  font-size: 22.65px;
  font-weight: 400;
  margin-bottom: 13px;
}
.product-form > label > input {
  width: 35px;
  height: 34px;
}
.product-form > label > p {
  color: rgb(0, 0, 0);
  font-size: 22.65px;
  font-weight: 400;
}

.price-box {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 19px;
  color: rgb(0, 0, 0);
  font-size: 22.65px;
  font-weight: 400;
}
.price-box > span {
  display: flex;
  align-items: center;
  gap: 18px;
}
.price-box > span > del {
  color: rgb(126, 126, 126);
  font-size: 22.65px;
  font-weight: 400;
  text-decoration: line-through;
}

.actions {
  display: flex;
  align-items: center;
  gap: 31px;
  margin-top: 16px;
  margin-bottom: 27px;
}

.infoProduct {
  display: flex;
  flex-direction: column;
  gap: 11px;
  color: rgb(0, 0, 0);
  font-size: 22.65px;
  font-weight: 400;
  margin-bottom: 11px;
}
.infoProduct > ul {
  margin-left: 25px;
  font-weight: 300;
  line-height: 27px;
  letter-spacing: 0%;
}
.comments {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  gap: 65px;
  margin-top: 54px;
}
.comment-card {
  width: 438px;
  height: 226px;
  display: flex;
  flex-direction: column;
  border: 2px solid rgb(253, 152, 3);
  border-radius: 13px;
  padding: 19px 27px;
}
.comment-title {
  display: flex;
  gap: 12px;
  align-items: center;
}
.profile-img {
  width: 73px;
  height: 73px;
  background: rgb(253, 152, 3);
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(0, 0, 0);
  font-size: 22.65px;
  font-weight: 600;
  border-radius: 50%;
}
.name {
  display: flex;
  flex-direction: column;
}
.name > b {
  color: rgb(0, 0, 0);
  font-size: 22.65px;
  font-weight: 400;
}
.name > p {
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-weight: 300;
}

.comment-text {
  color: rgb(0, 0, 0);
  font-size: 22.65px;
  font-weight: 100;
  line-height: 27px;
  letter-spacing: 0%;
  margin-top: 34px;
}

/* electornikns */
.elektr {
  width: 1170px;
}

.elektr-length {
  width: 100%;
  padding: 19px 33px;
}

.elektr-length h2 {
  font-size: 36px;
}

.elektr-length span {
  font-size: 22px;
  color: #a4acad;
}

.select-option {
  width: 100%;
  padding: 34px 62px;
}

.select-item {
  display: flex;
  align-items: center;
  gap: 32px;
}

.select-item h4 {
  font-size: 22px;
}

.select-item select {
  width: 200px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #f8f8f8;
  font-size: 16px;
  cursor: pointer;
}

.select-item select:focus {
  border-color: orange;
}

.elektr-box {
  display: flex;
  gap: 110px;
  flex-wrap: wrap;
  padding-left: 32px;
}

.elektr-card {
  width: 297px;
  height: 397px;
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: space-between;
  transition: 0.8s ease;
  padding: 13px 16px;
  background-color: #fff;
}

.elektr-card .img {
  width: 264px;
  height: 181px;
  background: rgb(217, 217, 217);
}

.elektr-card h3 {
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
  letter-spacing: 0%;
  text-align: left;
  letter-spacing: 1px;
}

.elektr-card span {
  color: rgb(164, 172, 173);
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}

.elektr-price-basket {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 25px;
  padding: 10px 10px 0px 0px;
  border-top: 1px solid rgb(164, 172, 173);
}

.elektr-price-basket h4 {
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0%;
  text-align: left;
}

.elektr-price-basket button {
  border: none;
  background: transparent;
}

footer {
  display: flex;
  width: 1205px;
  height: 302px;
  padding: 0 72px;
  padding-top: 47px;
  background-color: #d9d9d9;
}

.contact {
  display: flex;
  flex-direction: column;
  gap: 13px;
  margin-left: 42px;
  margin-right: 24px;
}
.contact > b {
  font-size: 18px;
  font-weight: 700;
}
.contactLabel {
  width: 251px;
  display: flex;
  align-items: center;
  gap: 6px;
}
.footerLinks {
  display: flex;
  flex-direction: column;
  gap: 17px;
}
.footerLinks > a {
  color: #000;
}
.social {
  display: flex;
  flex-direction: column;
  margin-left: 59px;
  gap: 20px;
}
.social > a {
  color: #000;
  font-weight: 700;
  font-size: 16px;
}
.icons {
  display: flex;
  align-items: center;
  gap: 16px;
}
.icons > button {
  width: 24px;
  height: 24px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.downloadLinks {
  display: flex;
  align-items: center;
  gap: 27.51px;
}

.filter-form {
  display: flex;
  flex-direction: column;
  margin-top: 52px;
}

.filter {
  display: flex;
  flex-direction: column;
  gap: 11px;
}
.filter-price {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.filter-form > b {
  font-size: 22.65px;
  font-weight: 400;
  margin-bottom: 14px;
}
.filter-price > p {
  display: flex;
  align-items: center;
  gap: 115px;
  font-size: 18px;
  font-weight: 400;
}
.price-container {
  display: flex;
  align-items: center;
  gap: 12px;
}
.price-card {
  width: 134px;
  height: 49px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
  box-sizing: border-box;
  border: 1px solid rgba(93, 102, 97, 0.5);
  border-radius: 11px;

  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  background: rgb(253, 253, 253);
}
.checkbox-filter {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 12px;
}
.checkbox-filter > div {
  display: flex;
  align-items: center;
  gap: 18px;
}
.checkbox-filter > div > input {
  width: 20px;
  height: 20px;
}
.checkbox-filter > div > p {
  font-size: 20px;
  font-weight: 400;
  color: #a4acad;
}
.filter-form > button {
  width: 90px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: #fd9803;
  margin-top: 12px;
  border-radius: 3px;
}

/* Savat Mapp */

.Cart {
  padding-left: 30px;
  height: 100vh;
}

.Card-img {
  display: flex;
  gap: 15px;
}

.card-map {
  padding-top: 30px;
  align-items: center;
  justify-content: space-between;
  width: 1106px;
  display: flex;
}

.card-info {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.Card-calculate {
  width: 300px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

.delete-btn {
  display: flex;
  align-items: center;
  font-size: 20px;
}

.counter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5px;
  border: 1px solid gray;
  width: 150px;
  height: 30px;
  border-radius: 5px;
  font-size: 20px;
}

.Card-calculate > p {
  text-decoration: line-through;
}
.home-wrapper {
  max-width: 1205px;
  width: 100%;
  padding: 0 109px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1209px) {
  .katalog {
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px 0px 14px 26px;
    background: rgb(248, 248, 248);
    border-radius: 5px 5px 5px 5px;
    cursor: pointer;
    background-color: blue;
    gap: 12px;
  }
  .header {
    width: 100%;
    height: 55px;
    display: flex;
    border-radius: 5px;
    border: 2px solid #a4acad;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .user {
    width: 91px;
    height: 100%;
    border: 1px solid rgb(203, 207, 207);
    background: rgb(248, 248, 248);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 14px;
    font-size: 25px;
    background-color: red;
    padding: 11px 24px;
    cursor: pointer;
  }
  nav {
    width: 100vw;
    height: 100px;
    background: #f2f2f2;
    padding: 23px 32px;
  }
}
